body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 5%;
    background-color: blanchedalmond;
    margin: 0;
}

#nouvelleBlague {
    width: 25vw;
}

#affichageBlague {
    width: 60vw;
}